<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log"
            filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!-- Set root to DEBUG for verbose output -->
        <Root level="DEBUG">
            <AppenderRef ref="SysOut" level="INFO"/>
            <AppenderRef ref="File" level="DEBUG"/>
        </Root>
        <!-- Net handler debug -->
        <Logger name="net.minecraft.server.network" level="DEBUG" additivity="false">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>
